<h2>We handle all kinds of things</h2>

<div id="practice-areas">
	<ul>
	<li>Creditors</li>
	<li>Consumer And Commercial Debt Collection</li>
	<li>Foreclosure</li>
	<li>Judgment Collection</li>
	<li>Business Formation & Planning</li>
	<li>Contract Formation and Litigation</li>
	<li>Personal Injury</li>
	<li>Divorce</li>
	<li>Estate Planning- Wills, Trusts & Probate</li>
	<li>Criminal Defense</li>
</ul>
</div>